In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

In [2]:
# We import the cleaned doc from lab analysis round 3
data = pd.read_csv(r'\Users\marcp\Desktop\Ironhack\Clases\Week 1\Day 4\lab-customer-analysis-round-4\data_cleaned.csv')

In [6]:
data

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,marital_status,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,Suburban,Married,69,32,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,Suburban,Single,94,13,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,Suburban,Married,108,18,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,Suburban,Married,106,18,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,Rural,Single,73,12,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,2/10/11,Employed,M,71941,Urban,Married,73,18,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,California,3096.511217,Yes,Extended,College,2/12/11,Employed,F,21604,Suburban,Divorced,79,14,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,California,8163.890428,No,Extended,Bachelor,2/6/11,Unemployed,M,0,Suburban,Single,85,9,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,California,7524.442436,No,Extended,College,2/3/11,Employed,M,21941,Suburban,Married,96,34,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
9133,Y167826,California,2611.836866,No,Extended,College,2/14/11,Unemployed,M,0,Suburban,Single,77,3,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

In [3]:
# Processing the Data: X-y Split
X=data.drop('total_claim_amount', axis=1)
y=data.total_claim_amount

In [5]:
print(X)

           state  customer_lifetime_value response  coverage education  \
0     Washington              2763.519279       No     Basic  Bachelor
1        Arizona              6979.535903       No  Extended  Bachelor
2         Nevada             12887.431650       No   Premium  Bachelor
3     California              7645.861827       No     Basic  Bachelor
4     Washington              2813.692575       No     Basic  Bachelor
...          ...                      ...      ...       ...       ...
9129  California             23405.987980       No     Basic  Bachelor
9130  California              3096.511217      Yes  Extended   College
9131  California              8163.890428       No  Extended  Bachelor
9132  California              7524.442436       No  Extended   College
9133  California              2611.836866       No  Extended   College

     employmentstatus gender  income location_code marital_status  \
0            Employed      F   56274      Suburban        Married
1          Unemployed      F       0      Suburban         Single
2            Employed      F   48767      Suburban        Married
3          Unemployed      M       0      Suburban        Married
4            Employed      M   43836         Rural         Single
...               ...    ...     ...           ...            ...
9129         Employed      M   71941         Urban        Married
9130         Employed      F   21604      Suburban       Divorced
9131       Unemployed      M       0      Suburban         Single
9132         Employed      M   21941      Suburban        Married
9133       Unemployed      M       0      Suburban         Single

      monthly_premium_auto  months_since_last_claim  \
0                       69                       32
1                       94                       13
2                      108                       18
3                      106                       18
4                       73                       12
...                    ...                      ...
9129                    73                       18
9130                    79                       14
9131                    85                        9
9132                    96                       34
9133                    77                        3

      months_since_policy_inception  number_of_open_complaints  \
0                                 5                          0
1                                42                          0
2                                38                          0
3                                65                          0
4                                44                          0
...                             ...                        ...
9129                             89                          0
9130                             28                          0
9131                             37                          3
9132                              3                          0
9133                             90                          0

      number_of_policies     policy_type        policy renew_offer_type  \
0                      1  Corporate Auto  Corporate L3           Offer1
1                      8   Personal Auto   Personal L3           Offer3
2                      2   Personal Auto   Personal L3           Offer1
3                      7  Corporate Auto  Corporate L2           Offer1
4                      1   Personal Auto   Personal L1           Offer1
...                  ...             ...           ...              ...
9129                   2   Personal Auto   Personal L1           Offer2
9130                   1  Corporate Auto  Corporate L3           Offer1
9131                   2  Corporate Auto  Corporate L2           Offer1
9132                   3   Personal Auto   Personal L2           Offer3
9133                   1  Corporate Auto  Corporate L3           Offer4

     sales_channel  vehicle_class vehicle_size
0            Agent   Two-Door Car      Medsize
1            Agent  Four-Door Car      Medsize
2            Agent   Two-Door Car      Medsize
3      Call Center            SUV      Medsize
4            Agent  Four-Door Car      Medsize
...            ...            ...          ...
9129           Web  Four-Door Car      Medsize
9130        Branch  Four-Door Car      Medsize
9131        Branch  Four-Door Car      Medsize
9132        Branch  Four-Door Car        Large
9133   Call Center   Two-Door Car      Medsize

[9134 rows x 21 columns]

In [7]:
print(y)

0        384.811147
1       1131.464935
2        566.472247
3        529.881344
4        138.130879
           ...
9129     198.234764
9130     379.200000
9131     790.784983
9132     691.200000
9133     369.600000
Name: total_claim_amount, Length: 9134, dtype: float64

In [9]:
# we drop some useless columns
# first numerical and categorical split

X_num=X._get_numeric_data()
X_cat=X.drop(columns=X_num.columns)
print (X.shape, X_num.shape, X_cat.shape)  # check shape

(9134, 21) (9134, 7) (9134, 14)

In [10]:
# numerical
X_num.describe()

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies
count,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000
mean,8004.940475,37657.380009,93.219291,15.097000,48.064594,0.384388,2.966170
std,6870.967608,30379.904734,34.407967,10.073257,27.905991,0.910384,2.390182
min,1898.007675,0.000000,61.000000,0.000000,0.000000,0.000000,1.000000
25%,3994.251794,0.000000,68.000000,6.000000,24.000000,0.000000,1.000000
50%,5780.182197,33889.500000,83.000000,14.000000,48.000000,0.000000,2.000000
75%,8962.167041,62320.000000,109.000000,23.000000,71.000000,0.000000,4.000000
max,83325.381190,99981.000000,298.000000,35.000000,99.000000,5.000000,9.000000

In [11]:
# normalize (standard)
from sklearn.preprocessing import StandardScaler

X_scaled=StandardScaler().fit_transform(X_num)

def normalize(X):
    X_mean=X.mean(axis=0)
    X_std=X.std(axis=0)
    X_std[X_std==0]=1.0
    X=(X-X_mean)/X_std
    return X

X_num=normalize(X_num)
X_num.head()

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies
0,-0.762836,0.612794,-0.703886,1.678007,-1.543202,-0.422226,-0.822603
1,-0.149237,-1.239549,0.022690,-0.208175,-0.217322,-0.422226,2.106045
2,0.710597,0.365690,0.429572,0.288189,-0.360661,-0.422226,-0.404225
3,-0.052260,-1.239549,0.371446,0.288189,0.606873,-0.422226,1.687666
4,-0.755534,0.203379,-0.587634,-0.307448,-0.145653,-0.422226,-0.822603

In [12]:
(X_num-X_scaled).sum().sum()  # check difference

8.394087508412085e-12